*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}
/* we will create some variables  */
:root{
  --color-131921 : #131921;
  --color-3b4149 : #3b4149;
  --color-febd69 : #febd69;
  --color-232f3e : #232f3e;
  --color-bf4800 : #bf4800;
  --color-f5f5f7 : #f5f5f7;
  --color-777777 : #777777;
  --color-1c1c1b : #1c1c1b;
}
.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
body{
  font-family: 'Rubik', sans-serif;
}

a{
  text-decoration: none;
  display: inline-block;
}

.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}
.gap-5{
  gap:5px;
}
.gap-10{
  gap: 10px;
}

.gap-15{
  gap:15px;
}
.gap-30{
  gap: 30px;
}
.gap-50{
  gap: 75px;
}
.error{
  color: red;
  font-size: 12px;
}
.button{
  background-color: var(--color-232f3e);
  color: white;
  font-size: 15px;
  padding: 13px 33px;
  border-radius: 25px;
}
.button:hover{
  background-color: var(--color-febd69);
  color: var(--color-131921);
}
/* Header part */

.header-top-strip{
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);

}
.header-upper{
  background-color: var(--color-131921);
}

.header-upper .input-group-text{
  background-color: var(--color-febd69);
}
 .header-upper .header-upper-links img{
  height: 35px;
  width: 35px;
}
.header-lower{
  background-color: var(--color-232f3e);
}
.header-lower .menu-links a{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-lower .dropdown button{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.header-lower .dropdown img{
    height: 30px;
    width: 30px;
}
.header-lower .dropdown-menu{
  background-color: var(--color-131921);
  width: 100%;
}
.header-lower .dropdown-item{
  padding: 11px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-lower .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-febd69) !important;
}

/* Header part ends here */


/* Footer Part starts*/

footer{
  background-color: var(--color-232f3e);
}
footer:not(:first-child){
  border-top: 1px solid var(--color-3b4149);
}
.footer-upper .footer-top-data img{
  height: 35px;
  width: 35px;
}
.footer-upper .input-group-text{
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}

/*footer Part ends here*/

/*Home Page parts starts*/

/* Home Wrapper-1 */
.main-banner-content{
  top: 15%;
  left: 5%;
} 
.main-banner-content h3{
  font-size:20px;
  font-weight: 400;
  line-height: 24px;
  color:var(--color-bf4800);
  margin-bottom: 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5{
  font-size: 35px;
  line-height: 64px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}
.main-banner-content p{
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}

.small-banner-content{
  top: 15%;
  left: 8%;
} 
.small-banner-content h3{
  font-size:19px;
  font-weight: 400;
  line-height: 22px;
  color:var(--color-bf4800);
  margin-bottom: 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h5{
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: none;
}
.small-banner-content p{
  font-size: 13 px;
  line-height: 15px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}
.small-banner{
  width: 49%;
}

/* Home-wrapper-2 */
.home-wrapper-2{
  background-color: var(--color-f5f5f7);
}
.home-wrapper-2 img{
  height: 40px;
  width:  40px;
}

/* categories */
.home-wrapper-3{
  background-color: var(--color-f5f5f7);
}
.categories{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.home-wrapper-3 .smart-3 img {
  height: 100px;
  width: 100px;
}
.categories .game-class img {
  height: 100px;
  width: 140px;
}
.categories>div{
  width: 25%;
  padding: 10px 10px 10px 10px;
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
  border-bottom: 1px solid var(--color-3b4149);
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3){
  border-right: 1px solid var(--color-3b4149);
}
.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7){
  border-right: 1px solid var(--color-3b4149);
}
.categories .watch-class img{
  height: 120px;
}


/* categories ends */

/* Marquee start */

.marquee-wrapper{
  background-color: var(--color-f5f5f7);
}

/* Marquee ends */

/*Home page part ends here*/



/* Blog Card starts*/
.blog-wrapper .section-heading{
  text-transform: uppercase;
  margin-bottom: 30px;
}
.blog-wrapper img{
  height: 200px;
  width: 3000px;
}
.blog-card{
  background-color: white;
  
  border-radius: 10px;
}
.blog-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
.blog-content{
  padding: 15px;
}
.blog-content .date{
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}
.blog-content h5{
  font-size: 18px;
  color: var(--color-131921);
}
.blog-content .desc{
  font-size: 13px;
  line-height: 22px;
  color: var(--color-777777);
}
/* Blog Card ends  */


/* Product Card starts*/
.featured-collection{
  background-color: var(--color-f5f5f7);
}
.featured-collection .section-heading{
  text-transform: uppercase;
  margin-bottom: 30px;
}
.product-card{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.product-card:hover .action-bar{
  right:11px;
}
/* .product-card .prod-image>img:last-child{
  display: none;
}
.product-card:hover .prod-image > img:nth-child(1)
{
  display: none;
}
.product-card:hover .prod-image > img:last-child
{
  display: block;
} */
.prod-image img{
  height: 200px;
  width: 200px;
}

.product-card .prod-details h6{
  color: var(--color-bf4800);
  font-size: 13px;
}
.product-card .prod-details h5{
  font-size: 15px;
  color: var(--color-1c1c1b);;
}
.product-card .price{
  font-size: 16px;
  color: var(--color-1c1c1b);
}
.action-bar{
  top: 12%;
  right: -30px;
  transition: 0.3s;
}
.action-bar img{
  height: 25px;
  width: 25px;
}
.wishlist-icon{
  top: 3%;
  right: 15px;
}
.wishlist-icon img{
  height: 25px;
  width: 25px;
}
/* Product Card ends */


/* Special Products start */

.special-products{
  background-color: var(--color-f5f5f7);
}

.special-products .section-heading{
  text-transform: uppercase;
  margin-bottom: 30px;
}

.special-product-card{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.special-product-card .side-img .img1 img{
  height: 60px;
  width: 60px;
  border: 1px solid var(--color-131921);

}
.special-product-card .side-img .img2 img{
  height: 60px;
  width: 60px;
  border: 1px solid var(--color-131921);

}
/* .special-img .side-img>img:last-child{
  display: none;
}
.special-img:hover .side-img > img:nth-child(1)
{
  display: none;
}
.special-img:hover .side-img > img:last-child
{
  display: block;
} */
/* Special Product Ends */



/* Our Store Starts */

.store-wrapper{
  background-color: var(--color-f5f5f7);
}
.filter-card{
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
}
.filter-card-title{
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px

}
.filter-card ul,
.filter-card .form-check-label{
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}
.filter-card .form-check-input:focus{
  box-shadow: none;
}
.filter-card .form-check-input:checked{
  background-color: var(--color-febd69);
  
}
.sub-title{
  font-size: 16px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 12px;
  margin-top: 15px;
}
.colors{
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors li{
  width: 20px;
  height: 20px;
  background-color:#bf4800;
  border-radius: 50px;
}
.bestseller-1 h5{
  font-size: 16px;
  margin-bottom: 5px;
}
.bestseller-2 h5{
  font-size: 16px;
  margin-bottom: 5px;
}
.bestseller-1{
  margin-bottom: 18px;
  border-bottom: 1px solid var(--color-777777);
  
}
.filter-sort-grid{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.totalproducts{
  color: var(--color-777777);
}
.grid img{
  height: 30px;
  width: 30px;
  background-color: #f2f2f2;
  padding: 6px;
  border-radius: 3px;
}

.gr-12{
  width: 100%;
}
.gr-6{
  width: 49%;
}
.gr-4{
  width: 32%;
}
.gr-3{
  width: 24%;
}
.gr-12 .product-card{
  display: flex;
  gap: 20px;
}
.gr-12 .action-bar{
  top: 18%;
}
.gr-6 .product-card img{
  margin: auto;
  display: block;
}
.gr-4 .product-card img{
  margin: auto;
  display: block;
}


/* Our Store ends */


/* Blog Page starts */
.blog-page{
  background-color: var(--color-f5f5f7);
}
.blog-page .blog-card img{
  width: 100%;
  height: 300px;
}
/* Blog page ends */

/* Contact Us page starts */

.contact-page{
  background-color: var(--color-f5f5f7);
}
.contactus-wrapper{
  background-color: white;
  padding: 30px 20px;
  border-radius: 10px;
  gap: 15px;
}
.contactus-wrapper>div{
  width: 48%;
}
.contact-title{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  margin-top: 0;
  text-align: left;
  /* text-transform: uppercase; */
}
.contactus-wrapper form .form-control{
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  color: #777777;
}
.contactus-wrapper .touch ul{
  list-style-type: none;
}
.contactus-wrapper .touch img{
  width: 20px;
  height: 20px;
}
.touch address, .touch a, .touch p{
  color: var(--color-777777);
}


/* Conatct Us page ends */

/* Compare Products Page starts */

.compare-product-wrapper,.wishlist-wrapper{
  background-color: var(--color-f5f5f7);
}
.compare-product-card{
  background-color: white;
  padding: 20px 15px;
  border-radius: 10px;
  margin-top: 15px;
}
.compare-product-image img{
  height: 280px;
  width: 100%;
}

/* .compare-product-card .cross{
  z-index: 1;
  top: 0;
  right: 0;
  width: 25px;
  padding: 3px;
  cursor: pointer;

} */

.cross {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  /* height: 1px; */
  padding: 3px;
  cursor: pointer;
  z-index: 1; /* Ensure the cross is above other elements */
}
.compare-product-details h5.title{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.compare-product-details h6.price{
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.compare-product-details .product-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid var(--color-3b4149);
}


/* Compare Products page ends */

/* Login card starts */
.login-wrapper{
  background-color: var(--color-f5f5f7);
}
.login-card{
  background-color: white;
  padding: 20px;
  width: 500px;
  margin: 20px auto;
  border-radius: 10px;
}
.login-card h3{
  font-size: 22px;
  font-weight: 500;

}
.login-card .form-control{
  border-color: transparent;
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-3b4149);
  border-radius: 10px;
  font-size: 16px;
}
.login-card a{
  font-size: 16px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}
.login-card .signup{
  background-color:var(--color-febd69);
  color: var(--color-131921);
}
.login-card .signup:hover{
  background-color:var(--color-131921);
  color: white;
}
.login-card p{
  color: var(--color-777777);
}
/* Login Card ends */

/* Single Blog page starts  */

.single-blog-card h3{
  font-size: 24px;
font-weight: 500;
color: var(--color-1c1c1b);  
}
.single-blog-card p{
  color: var(--color-777777);
  font-size: 14px;
}
.single-blog-card img{
  height: 550px;
}
.single-blog-card a{
  color: var(--color-777777);
  font-size: 20px;
}
.comment-section{
  background-color: white;
  padding: 30px 20px;
  border-radius: 10px;
  gap: 15px;
}
.comment-section form .form-control{
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  color: #777777;
}


/* Single Blog page ends */

/* Cart page starts */

.cart-wrapper{
  background-color: var(--color-f5f5f7);
}
.cart-header, .cart-data{
  border-bottom: 1px solid #ddd;
}
.cart-col-1{
  width: 40%;
}
.cart-col-2{
  width: 10%;
}
.cart-col-3{
  width: 15%;
}
.cart-col-4{
  width: 15%;
}
.cart-col-1 h5{
  font-size: 16px;
  font-weight: 500;
  color: var(--color-777777);
}
.cart-col-1 p{
  font-size: 14px;
  color: var(--color-777777);
}
.cart-col-2 h5{
  font-size: 16px;
  color: var(--color-131921);
}
.cart-wrapper .cart-pay-wrapper h4{
  font-size: 25px;
  font-weight: 500;
  color: var(--color-777777);

}
.cart-wrapper .cart-pay-wrapper p{
  font-size: 13px;
  font-weight: 500;
  color: var(--color-777777);

}
/* Cart page ends */

/* Checkout Page starts */
.checkout-wrapper{
  background-color: var(--color-f5f5f7);
}
.checkout-wrapper .checkout-left-data .payment-pages  li  a{
  color: var(--color-131921);
  font-size: 15px;
  
}
.checkout-wrapper .checkout-left-data form .form-control{
  
  border-radius: 10px;
  color: #777777;
}
.shipping-wrapper{
  border: 1px solid var(--color-1c1c1b);
}
.shipping-wrapper .ship-address{
  border-top: 1px solid var(--color-131921);
}
.checkout-wrapper  .payment-pages  li  a{
  color: var(--color-131921);
  font-size: 15px;
  
}
/* Checkout Page ends */


/* Main Product page starts */

.main-product-wrapper{
  background-color: var(--color-f5f5f7);
}
.description-wrapper li{
  color: var(--color-777777);
  font-size: 16px;
}
.review-head, .review-form, .single-review{
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 20px;
}
.review-head h4{
  color: var(--color-1c1c1b);
  font-size: 18px;
}
.review-head p{
  color: var(--color-777777);
  font-size: 14px;
}
.review-form h4{
  color: var(--color-777777);
  font-size: 14px;
}
.review-form .form-group .fileupload{
  position: relative;
    width: 320px;
}
.review-form .form-group .fileupload input{
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 5px;
  height: auto;
  color: #999;
  border-radius: 3px;
}
.review-form .form-group h4{
  color: var(--color-777777);
  font-size: 16px;
}
.reviews .single-review h6{
  color: var(--color-777777);
  font-size: 16px;
}
.reviews .single-review p{
  color: #777777;
  font-size: 14px;
}
.reviews a{
  text-decoration: underline;
}
.main-product-image{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.main-product-image>div{
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-image img{
  width: 100% !important;
  height: 600px !important;
}
/* .image-magnify{
  width: 225px;
  height: 225px;
} */
.main-product-wrapper .side-images img{
  height: 80px;
  width: 80px;
  border: 1px solid var(--color-3b4149);
  border-radius: 10px;
}
.buynow{
  background-color: var(--color-febd69);
  color: var(--color-1c1c1b);
}
.buynow:hover{
  background-color: var(--color-232f3e);
  color: white;
}
.end-prod .wishlist-img{
  height: 20px;
  width: 20px;
}
.main-product-details{
  border-radius: 10px;
}
.main-product-details p{
  color: var(--color-777777);
  font-size: 14px;
}
.main-product-details h4{
  font-size: 25px;
  color: var(--color-1c1c1b);
}
.main-product-details h5{
  font-size: 30px;
  color: var(--color-1c1c1b);
}
/* Main Product Page ends */